.HeroTitle {
    width: 624px;
    height: 204px;
    left: 160px;
    top: 280px;

    /* H1 Heading */

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 68px;
    /* or 121% */

    color: #ffffff;
}
.HeroContainer {
    background: #1c1e53;
    display: flex;
    justify-content: center;
    height: 660px;
}
.Img {
    width: 523px;
    height: 532px;
    margin-top: 30px;
}
.HeroButton {
    background: #fcd980;
    border-radius: 41px;
    border: 0;
    height: 54px;
    margin-top: 40px;
    padding: 10px 48px;
}
.HeroText {
    width: 528px;
    height: 48px;
    padding: 20px 0px;
    /* Paragraph */

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    color: #ffffff;

    opacity: 0.6;
}

.HeroContainerLeft {
    margin-top: 150px;
}
