@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
    margin: 0;

    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.nav {
    display: flex;
    background: #1c1e53;
    justify-content: space-around;
}
.menu {
    display: flex;
    padding-top: 15px;
}
a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */

    /* White */

    color: #bbbbcb;
}

a:hover {
    color: #ffffff;
}
